@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:#708090 #7A8B90;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    @apply bg-slate-800;
    /*background: var(--primary);*/
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    @apply bg-slate-800;
    /*background-color: var(--secondary);*/
    border-radius: 5px;
    @apply text-cyan-100;
    border: 5px solid 	#708090;
  }

@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  @apply scroll-smooth;
}
/** fix anchor **/
h1, h2, h3, h4 {
    scroll-margin-top: 1em;
}
.checkbox {
  @apply w-4 h-4 p-2 border-gray-400 rounded-md cursor-pointer form-checkbox text-sky-400 focus:ring-0;
}

.input {
  @apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 focus:outline-none block w-full p-2.5  dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.input-icon {
@apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 focus:outline-none block w-full pl-10 p-2.5  dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.input-icon-both {
@apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 focus:outline-none block w-full px-10 p-2.5  dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.input-icon-both-error {
@apply bg-red-50 border border-red-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 focus:outline-none block w-full px-10 p-2.5  dark:bg-gray-600 dark:border-rose-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.react-select__control.react-select__control {
  @apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg  dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.react-select .react-select__control--is-focused{
  @apply ring-sky-400 border-sky-400 outline-none border
}
.react-select .react-select__control--is-focused:hover{
  @apply ring-sky-400 border-sky-400 outline-none border
}
.react-select .react-select__multi-value__label{
@apply bg-sky-100
}
.react-select .react-select__multi-value__remove{
  @apply bg-sky-200
}
.react-select .react-select__input-container > input{
  @apply px-2
}
.react-select .react-select__input{
  @apply dark:text-slate-200 !important;
}
.input-error {
@apply bg-red-50 border border-red-300  text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 focus:outline-none block w-full p-2.5  dark:bg-gray-600 dark:border-rose-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.input-icon-error {
@apply bg-red-50 border border-red-300  text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 focus:outline-none block w-full pl-10 p-2.5  dark:bg-gray-600 dark:border-rose-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.select{
@apply appearance-none form-select text-sm block w-full p-2.5  rounded-lg bg-gray-50 border border-gray-300  text-gray-900  focus:ring-sky-500 focus:border-sky-500 focus:outline-none dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.select-error{
    @apply appearance-none form-select text-sm block w-full p-2.5  rounded-lg bg-red-50 border border-red-300  text-gray-900  focus:ring-red-500 focus:border-red-500 focus:outline-none dark:bg-rose-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.label {
@apply block mb-2 text-xs font-semibold text-gray-700 lg:text-sm dark:text-gray-200;
}
.radio-card {
@apply inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-sky-500 peer-checked:bg-gradient-to-b peer-checked:from-sky-400 peer-checked:to-sky-500 peer-checked:border-sky-200 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700
}
.link {
@apply px-2 text-sm align-baseline transition-all ease-in-out delay-100 border-b text-sky-500 hover:text-sky-600 hover:border-b-sky-600 border-b-transparent;
}
.btn {
  @apply flex justify-center px-4 py-2 font-bold rounded-lg focus:outline-none;
}
.btn-primary {
  @apply  text-white bg-gradient-to-b hover:transition-all from-sky-400 to-sky-500 hover:from-sky-500 hover:to-sky-600 ;
}
.btn-danger {
    @apply  text-white bg-gradient-to-b hover:transition-all from-red-400 to-red-500 hover:from-red-500 hover:to-red-600 ;
  }
.btn-circle {
  @apply flex items-center p-2 rounded-full shadow-sm cursor-pointer bg-gradient-to-br from-cyan-300 to-sky-400 hover:from-cyan-200 hover:to-sky-400 text-sky-50 max-w-max hover:shadow-lg w-9 h-9;
}
.btn-circle-green {
    @apply flex items-center p-2 rounded-full shadow-sm cursor-pointer bg-gradient-to-br from-green-300 to-green-400 hover:from-green-200 hover:to-green-400 text-sky-50 max-w-max hover:shadow-lg w-9 h-9;
  }
  .btn-circle-red {
    @apply flex items-center p-2 rounded-full shadow-sm cursor-pointer bg-gradient-to-br from-red-300 to-red-400 hover:from-red-200 hover:to-red-400 text-sky-50 max-w-max hover:shadow-lg w-9 h-9;
  }
  .btn-circle-yellow {
    @apply flex items-center p-2 rounded-full shadow-sm cursor-pointer bg-gradient-to-br from-yellow-300 to-yellow-400 hover:from-yellow-200 hover:to-yellow-400 text-sky-50 max-w-max hover:shadow-lg w-9 h-9;
  }

.thead {
  @apply bg-gradient-to-br from-slate-100 to-slate-300;
}

.thead-column{
  @apply px-2 py-2 text-xs font-medium text-left text-gray-500 uppercase lg:px-4 lg:py-3;
}

.tbody-column{
  @apply px-2 py-1 text-sm lg:px-4 lg:py-2 dark:text-slate-600;
}

/** fix editorjs **/
.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 20px) !important; } .cdx-block { max-width: 100% !important; }
h1.ce-header{
  @apply text-3xl font-bold
}
h2.ce-header{
  @apply text-2xl font-semibold
}
h3.ce-header{
  @apply text-xl font-semibold
}
h4.ce-header{
  @apply text-lg font-semibold
}
h5.ce-header{
  @apply text-base font-semibold
}
h6.ce-header{
  @apply text-base font-semibold
}
.ce-block__content, .ce-toolbar__content {
  max-width: unset;
}
.ce-toolbox, .ce-popover, .ce-inline-toolbar {
  @apply text-slate-500 !important;
}
.ce-toolbar__plus, .ce-toolbar__settings-btn {
  @apply dark:text-slate-300 hover:text-slate-700
}
.codex-editor { min-height: 60vh !important; }
/** Aside Style **/
.aside-title {
  @apply px-4 py-1 text-xs font-bold uppercase text-slate-400 dark:text-slate-500;
}
.aside-menu {
  @apply flex items-center px-4 py-2 space-x-2 font-normal text-sm transition-all ease-in-out border-l-4 border-transparent text-slate-600 dark:text-slate-300 hover:text-slate-700 hover:border-sky-500 hover:bg-slate-100;
}

.aside-menu-active {
    @apply flex items-center px-4 py-2 space-x-2 font-normal text-sm transition-all ease-in-out border-l-4 border-transparent bg-slate-200 dark:bg-slate-500 border-slate-600 text-slate-600 dark:text-slate-300 hover:text-slate-700 hover:border-sky-500 hover:bg-slate-100;
  }

/** Fix react datepicker **/
.react-datepicker-wrapper {
    width:100%;
}
.react-datepicker-popper {
    position: relative;
    z-index: 3 !important;
}
.react-datepicker__triangle{
    left: -10px !important;
}

.touch-bg {
    background-image: url('/img/touch-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #ffffff;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
